# Copy to backend/.env and adjust as needed. We can use the file to store private keys, database connection strings, credentials and other sensitive information. The .env is gitignored and therefore will not be publically available on repo.
# CORS_ORIGINS=["http://localhost:5173"]
